{% macro quote_entity_like_button(quote) %}
    <form method="POST" action="{{ path('app_daily_quote_like', {'id': quote.id}) }}" class="inline">
        <button type="submit" class="text-gray-300 hover:text-pink-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                 fill="{% if quote.likes > 0 %}currentColor{% else %}none{% endif %}"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
            </svg>
            {% if quote.likes > 0 %}<sup>{{ quote.likes }}</sup>{% endif %}
        </button>
    </form>
{% endmacro %}

{% macro quote_dto_like_button(dto) %}
    <form method="POST" action="{{ path('app_daily_quote_like', {'id': dto.quoteId}) }}" class="inline">
        <button type="submit" class="text-gray-300 hover:text-pink-500">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                 fill="{% if dto.quoteLikes > 0 %}currentColor{% else %}none{% endif %}"
                 viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
            </svg>
            {% if dto.quoteLikes > 0 %}<sup>{{ dto.quoteLikes }}</sup>{% endif %}
        </button>
    </form>
{% endmacro %}
