{% extends 'base.html.twig' %}

{% block title %}Your daily quote! Inspiration for the day!{% endblock %}

{% block body %}
    <div
        class="bg-gray-800 p-8 rounded-lg shadow-xl max-w-md w-full">
        <h1 class="text-white mb-8">Quote of the Day!</h1>

        <div class="flex flex-col gap-5">
            <a href="{{ path('app_daily_quote_list_authors') }}"
               class="text-2xl no-underline py-4 px-4 bg-gray-700 rounded border border-gray-600">
                List authors
            </a>

            <a href="{{ path('app_daily_quote_random') }}"
               class="text-2xl no-underline py-4 px-4 bg-gray-700 rounded border border-gray-600">
                See a random quote
            </a>

            <a href="{{ path('app_daily_quote_liked') }}"
               class="text-2xl no-underline py-4 px-4 bg-gray-700 rounded border border-gray-600">
                See a highly liked quote
            </a>
        </div>
    </div>
{% endblock %}
