{% extends 'base.html.twig' %}

{% block title %}Hello DailyQuoteController!{% endblock %}

{% block body %}
    <div>
        <h1>{{ quote.quoteText }}</h1>
        <p>{{ quote.authorName }}</p>
    </div>
{% endblock %}
