{% extends 'base.html.twig' %}

{% import 'daily_quote/_macros.html.twig' as ui %}

{% block title %}One quote{% endblock %}

{% block body %}
    <div class="bg-gray-800 p-8 rounded-lg shadow-xl max-w-xl w-full">
        <h1><em>"{{ quote.quoteText }}"</em></h1>
        <div class="text-right">
            {{ ui.quote_dto_like_button(quote) }}
        </div>
        <p>{{ quote.authorName }}</p>
    </div>
{% endblock %}
