{% extends 'base.html.twig' %}

{% block title %}Random quote{% endblock %}

{% block body %}
    <div class="bg-gray-800 p-8 rounded-lg shadow-xl max-w-md w-full">
        <h1><em>"{{ quote.quoteText }}"</em></h1>
        <p>{{ quote.authorName }}</p>
    </div>
{% endblock %}
