{% extends 'base.html.twig' %}

{% block title %}Symfony Attributes Showcased{% endblock %}
{% block body %}
    <div
        class="bg-gray-800 p-8 rounded-lg shadow-xl max-w-md w-full">
        <h1 class="text-gray-100 mb-8">Welcome to Symfony Attributes Showcase</h1>

        <div class="flex flex-col gap-5">
            <a href="{{ path('app_daily_quote_index') }}"
               class="text-2xl no-underline p-4 bg-gray-700 rounded border border-600 text-gray-100">Daily
                Quote</a>

            <a href="{{ path('app_petyourpet_list') }}"
               class="text-2xl no-underline p-4 bg-gray-700 rounded border border-600 text-gray-100">Pet
                Your Pet</a>

            <a href="{{ path('app_text_beautify_index') }}"
               class="text-2xl no-underline p-4 bg-gray-700 rounded border border-600 text-gray-100">Text
                Beautifier</a>
        </div>
    </div>
{% endblock %}
