{% extends 'base.html.twig' %}

{% block title %}Beautification succeeded!{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4">
        <div class="bg-gray-800 p-8 rounded-lg shadow-xl max-w-md w-full">
            <h1 class="text-2xl font-bold mb-6 text-white text-center">{{ outcome|raw }}</h1>
        </div>
        <div class="text-sm text-white text-center bg-gray-800 p-4 rounded-lg shadow-xl max-w-md w-full">
            <p>Applied beautifiers:</p>
            <ol class="list-decimal list-inside">
                {% for beautifier in applied %}
                    <li>{{ beautifier }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
